:root {
  --color-lime: hsl(61, 70%, 52%);
  --color-lime-hover: hsl(62.07deg 71.9% 76.27%);
  --color-red: hsl(4, 69%, 50%);
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
}

.color-slate-700 {
  color: var(--slate-700);
}
.color-slate-500 {
  color: var(--slate-500);
}
.color-slate-300 {
  color: var(--slate-300);
}
.color-slate-900 {
  color: var(--slate-900);
}
.bg-color-slate-900 {
  background-color: var(--slate-900);
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: var(--slate-900);
}

body {
  background-color: var(--slate-100);
}
.fw-700 {
  font-weight: 700;
}
.form-check {
  height: 3rem;
  .form-check-label {
    font-size: 1.1rem;
  }
}
.border-default {
  border-color: var(--slate-700) !important;
}

.panel-result {
  color: var(--white);
  border-bottom-left-radius: calc(var(--bs-border-radius-xxl) * 2) !important;
  padding: 2rem;
  .result-content-home {
    img {
      height: 12rem;
    }
  }
}

.app-calculator {
  
  .container-form-check {
    .form-check-label {
      font-size: 1.1rem;
    }
    &:hover {
      border-color: var(--color-lime) !important;
    }
  }
  .input-group-text {
    background-color: var(--slate-100);
  }
  color: var(--slate-900);
  .input-group {
    input,
    span {
      border-color: var(--slate-700);
    }

    &:hover {
      input,
      span {
        border-color: var(--slate-900);
        /* border-color: yellow; */
      }
    }
    input {
      font-size: 1.1rem;

      /* &:hover {
        box-shadow: none;
        border-color: yellow;
       
      } */
    }
    & > input:first-child {
      border-right: none;
    }
    span ~ input {
      border-left: none;
      /* background-color: green; */
    }

    .input-group-text {
      font-size: 1.1rem;
    }

    &.input-group-lg {
      .form-control {
        padding: 0.7rem 1rem;
      }
    }
  }

  /* color: var(--slate-700) !important; */
  .input-group-text,
  .form-label {
    color: var(--slate-700);
  }

  .form-check-input,
  .form-check-input {
    border-color: var(--slate-700);
  }
  form button[type="submit"] {
    font-size: 1.2rem;
    padding: 0.8rem 2.5rem;
    letter-spacing: -0.04rem;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--color-lime);
    color: var(--slate-900);
    border-color: var(--slate-300);
    &:hover {
      background-color: var(--color-lime-hover);
      color: var(--slate-900);
      border-color: var(--color-lime);
    }
  }
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .container-card {
      max-width: 63rem;
      .card-body {
        .p-5 {
          padding: 2.6rem 2.4rem !important;
        }
      }
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  }

  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
  }
}
